:root{
    --color-primario: #0c141c;
    --color-secundario: #edb417;
    --texto-secundario: #a09f99;
}

body {
    font-family: "Roboto", sans-serif;
    background: radial-gradient(circle, #46121f, #0c141c, #04080c);
    color: white;
}
[data-theme="dark"] {
  --rs-primary-500: #ffb300 !important;
}